body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides input{
    display: none;
}

.slide{
    width:  20%;
    transition: 2s;
    display: flex;
}



.slides{
    width: 500%;
    height: 400px;
    display: flex; 
}

.navigation-manual{
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 0px solid #dcdad6;
    background: #dcdad6;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
    
}

.manual-btn:hover{
    background: #fce324;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}

#radio9:checked ~ .first{
    margin-left: -160;
}

#radio10:checked ~ .first{
    margin-left: -180%;
}

#radio11:checked ~ .first{
    margin-left: -200%;
}

#radio12:checked ~ .first{
    margin-left: -220%;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio2:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio3:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio4:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio5:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio6:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio7:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio8:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}
#radio9:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio10:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio11:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}

#radio12:checked ~ .navigation-auto .auto-btn1{
    background: #fce324;
}





















